<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macrostatista</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
        <div class="result" style="width: 100vw;">
            <div class="macros p fade-in-1">
              <% if (locals.error) { %>
               <h3>Food not found, please try another food</h3>
              <% } else if(locals.data && locals.macros){ %>
                <div class="foodImg">
                  <img class="rounded" src=<%= data.photo.thumb %> alt="foodImg">
                </div>
                    <table class="table " style="--bs-table-bg: #212529; --bs-table-color: #FFFFFF;">
                        <tbody>
                          <tr>
                            <td><b><%= data.food_name %></b></td>
                            <td><%= macros.serving_qty %> <%= macros.serving_unit %>, <%= macros.serving_weight_grams %> g</td>
                          </tr>
                          <tr>
                            <td>Proteins</td>
                            <td>
                              <% if (macros.nf_protein != null) { %>
                                <%= macros.nf_protein %>
                              <% } else {%>
                                0
                              <% } %>
                            </td>
                          </tr>
                          <tr>
                            <td>Carbohydrates</td>
                            <td>
                              <% if (macros.nf_total_carbohydrate != null) { %>
                                <%= macros.nf_total_carbohydrate %>
                              <% } else {%>
                                0
                              <% } %>
                            </td>
                          </tr>
                          <tr>
                            <td>Sugars</td>
                            <td>
                              <% if (macros.nf_sugars != null) { %>
                                <%= macros.nf_sugars %>
                              <% } else {%>
                                0
                              <% } %>
                            </td>
                          </tr>
                          <tr>
                            <td>Fat</td>
                            <td>
                              <% if (macros.nf_total_fat != null) { %>
                                <%= macros.nf_total_fat %>
                              <% } else {%>
                                0
                              <% } %>
                            </td>
                          </tr>
                          <tr>
                            <td>Fiber</td>
                            <td>
                              <% if (macros.nf_dietary_fiber != null) { %>
                                <%= macros.nf_dietary_fiber %>
                              <% } else {%>
                                0
                              <% } %>
                            </td>
                          </tr>
                        </tbody>
                    </table>
              <% } %>
                
            </div>
            <form class="row g-3 mt-4 p fade-in-2" action="/get-macros" method="post">
                <div class="col-auto">
                  <label for="food" class="visually-hidden"></label>
                  <input type="food" class="form-control" id="form" name="food" placeholder="Try another food">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-3" style="background-color: #007EA7; color: white; border-color: #007EA7;">Submit</button>
                </div>
            </form>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>